<%- include("../partials/metas")%> <%- include("../partials/header")%>
<main>
  <div class="table_container">
    <h1>List of trains</h1>
    <a href="/trains/add"><button>Add train</button></a>
  </div>
  <% if(data.length > 0){%>
  <table>
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Image</th>
      <th>Engine Type</th>
      <th>Color</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Options</th>
    </thead>
    <tbody>
      <%data.forEach((elem) => {%>
      <tr>
        <td><%=elem.id%></td>
        <td><%=elem.name%></td>
        <td><img src="/assets/<%=elem.image%>" alt="" /></td>
        <td><%=elem.enginetype ? elem.enginetype.name : "-"%></td>
        <td>
          <div
            class="color_prop"
            style="background-color: <%=elem.color%>"
          ></div>
        </td>
        <td><%=new Date(elem.createdAt)%></td>
        <td><%=new Date(elem.updatedAt)%></td>
        <td><a href="/trains/delete?id=<%=elem.id%>">Delete</a></td>
      </tr>
      <% })%>
    </tbody>
  </table>
  <% }else{%>
  <h1 class="no_elem">No Trains</h1>
  <% }%>
</main>
<%- include("../partials/footer")%>
